body {
    border-radius: 3px;
}

.quote-box {
    box-sizing:border-box;
    height: 300px;
    width: 600px;
    background-color: #FFFFFF;
    margin: 8% auto auto auto;
    padding: 40px;
    text-align: center;
}

.button {
    color: #FFFFFF;
}

.quote-text {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.quote-author {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    text-align: right;
    padding-top: 20px;
}

#text {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5em;
    font-weight: 500;
}

#new-quote {
    color: #FFFFFF;
}

a:-webkit-any-link {
    text-decoration: none;
}

.background-color {
    background-color: #001f3f;
}

#tweet-quote {
    float: left;
    width: 40px;
    height: 30px;
    padding-top: 8px;
    text-align: center;
    margin-left: 100px;
    margin-top:90px;
    border-radius: 3px;
}

#new-quote {
    float: right;
    height: 38px;
    padding: 8px 18px 8px 18px;
    margin-right: 100px;
    margin-top:90px;
    border-radius: 3px;
}